Flask-Login==0.1.3
Flask>=0.12.1
Flask-Script>=2.0.5
Flask-Bower>=1.2.1
Flask-Scss>=0.5
Flask-Bootstrap>=3.3.7.1
gunicorn==19.7.1
Jinja2==2.9.6
MarkupSafe==1.0
python-dateutil==2.4.2
pytz==2014.10
requests==2.12.4
SQLAlchemy==1.1.15
