{% extends "layout.html" %}
{% block content %}
<center>
<h1 class="ui header">New request</h1>

<div class="field">
    			<label>Subject</label>
    			<input name="subject" placeholder="........" type="text">
  </div>
<div class = "ui form">
	<label>Description</label>
	<div class = "field">
		
		<textarea></textarea>
	</div>
	<label>Location</label>
	<div class="field">
    
    <input name = "location" placeholder="enter location" type = "text">
  </div>
</div>


<div class="ui fluid selection dropdown">
  <input name="course_name" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">Select Course</div>
  <div class="menu">
    <div class="item" data-value="cmpen271">
      CMPEN 271
    </div>
    <div class="item" data-value="cmpsc360">
      CMPSC 360
    </div>
    
  </div>
</div>


</center>
{%endblock%}