{% extends "layout.html" %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" rel="stylesheet" />


<div class="ui four item menu">
  <button class="item">Past Requests</button>
  <button class="item">Your Requests</button>
  <button class="item">Open Requests</button>
  <button class="item">Open Requests</button>
</div>


<center>
	<div class="ui cards">
  <div class="card">
    <div class="content">
      <img class="left floated mini ui image" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Profile_Icon.png" >
      <div class="header">
        
      </div>
      <div class="meta">
        which course
      </div>
      <div class="description">
        description of the problem...rrrrrrrrrrrrrrrrrrrrr
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr.......
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
  
</div>
</center>
{%endblock%}
