{% extends "layout.html" %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" rel="stylesheet" />
<script>
function onAddClick() {
    var inputValue = document.getElementById('newCourse');
    if (!inputValue.value || inputValue.value === '' || inputValue.value === null) {
        return;
    }
    var newCourseName = inputValue.value;
    inputValue.value = '';
    var newDiv = document.createElement("DIV");
    // var newI = document.createElement("I");
    var newHeader = document.createElement("SPAN");
    var newInput = document.createElement("INPUT");
    newDiv.classList.add('content');
    // newI.classList.add('remove');
    // newI.classList.add('icon');
    newHeader.classList.add('header');
    newHeader.appendChild(document.createTextNode(newCourseName));
    newInput.name="course";
    newInput.style.display = 'none';
    newInput.value=newCourseName;
    // newDiv.appendChild(newI);
    newDiv.appendChild(newHeader);
    newDiv.appendChild(newInput);
    var a = document.getElementById("courseSet");
    a.appendChild(newDiv);
}
</script>
<div class = "ui grid">
    <div class = "four wide column">
        <img class = "ui small image" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Profile_Icon.png">
        <p>@{{ username }}</p>
        <div class = "six wide column">
        </div>
    </div>
    <div class = "six wide column">
        <div class = "ui list">
            <br>
            <form action="#" method="post">
                <div class="ui labeled input">
                    <div class="ui label">
                        Name:
                    </div>
                    <input placeholder="{{ name }}" type="text" name="name">
                </div>
                <br>
                <br>
                <div class="ui">
                    <div  class="ui">
                        <h2>List of courses</h2>
                        <div class="ui list">
                            <a class="item" id="courseSet">
                                {% for course in courses %}
                                <div class="content">
                                    <!--<i class="remove icon"></i>-->
                                    <span class="header">{{ course.name }}</span>
                                    <input name="course" value="{{ course.name }}" style="display: none">
                                </div>
                                {% endfor %}
                            </a>
                            <br>
                            <div class="ui labeled input">
                                <button type="button" class="ui label" onclick="onAddClick()">
                                    Add course:
                                </button>
                                <input placeholder="course name" type="text" id="newCourse">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Save" />
            </form>
            <div>
                <form action="{{ url_for('profile', username=username) }}">
                    <input type="submit" value="Back" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
