{% extends "layout.html" %}

{% block content %}
    <nav class="ui borderless menu">
        <div class = "ui container">
            <div class = "left menu">
                <a href="{{ url_for('dashboard') }}">
                    <button class="ui left floated button">
                        <i class = "homw icon"></i>Home
                    </button>
                </a>
            </div>
            <div class = "right menu">
                <div class = "left menu">
                    <a href="{{ url_for('profileDef') }}">
                        <button class="ui left floated button">
                            <i class = "user icon"></i>Profile
                        </button>
                    </a>
                </div>
                <div class = "left menu">
                    <a href="{{ url_for('logout') }}">
                        <button class="ui left floated button">
                            <i class = "power icon"></i>Logout
                        </button>
                    </a>
                </div>
            </div>
    </nav>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" rel="stylesheet" />
<div class = "ui grid">
    <div class = "two wide column">
        <img class = "ui small image" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Profile_Icon.png">
    </div>
    <div class = "eight wide column">

        <div class = "ui list">
            <div class="item">
                <div class="content">
                    <h3>{{ name }}</h3>
                    <p>@{{ username }}</p>
                </div>
            </div>
            <div class="item">
                <i class="University icon"></i>
                <div class="content">
                    {{ university }} 
                </div>
            </div>
            <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                    <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
            </div>
            <div class="item">
                <h3>Courses: </h3>
                <ul>
                    {% for i in data %}
                    <li>{{ i.course.name }} ({{ i.credits }} credits)</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="item" style="visibility: {{ editBtnVisibility }}">
                <form action="{{ url_for('editProfile') }}">
                    <input type="submit" value="Edit Profile" />
                </form>
            </div>
        </div>
    </div>
    <!--
        <div class = "six wide column">
        <p>put a map or smth here</p>
        </div>
    -->
</div>
{% endblock %}
